{% extends 'layout.html' %}
{% block content %}

<body>
    <h1>About</h1>

    <h2>Where did AutomateMe come from?</h2>

    <p>Working with Google Analytics can sometimes be a tedious mission.
        Instead, I thought it would be nice to see all I needed to see 
        about a specific business's website in one place. On top of that, I 
        saw that the potential time savings of using this same process
        for many businesses and decided to explore this idea further. 
    </p>
    <br>
<!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd0eFmzI4x_0XDtBVu91w-7c9uMgcvP6siB-AEBpjtWqjzj0g/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <br>
    <p><b>We will not use your data unless requested</b></p>
    <br>
-->
</body>

{% endblock %}