{% extends 'layout.html' %}
{% block content %}

<body>
    <h1>We can set up your Analytics!</h1>

    <h2>Here is our simple 5 step process:</h2>

    <p>
    1. First, I do fact-finding for important business outcomes like business objectives and conversion types. 
    <br>
    2. Second is to grant permissions to appropriate accounts.
    <br>
    3. Third would be to set up views in GA and start to build out tags in google tag manager. 
    <br>
    4. Fourth is to test and retest all of the tags, triggers, and variables.
    <br>
    5. Last is to upkeep and continue to improve the system!
    </p>

</body>

{% endblock %}