{% extends 'layout.html' %}
{% block content %}

<h1>Try out AutomateMe</h1>
    <br>
    <h2>Step 1: API KEY</h2>
    <br>
    <p>Fill out the form below so we can get the ball rolling. 
        It is required that GA4 be set up before continuing, but if it isn't, 
        please inquire me directly via the about page or check out the links at the 
        bottom of the page.</p>
    <br>
<!--
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeu_9FuNH6J-9HFy2hxw93FCB1iu0idOWWrTO-oK-acN-igVw/viewform?embedded=true" width="600" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
-->

    <br>
    <h2>Step 2: Wait</h2>
    <br>
    <p>Wait for an email back that specifically asks for a JSON file.</p>
    <br>

    <br>
    <h2>Help</h2>
    <br>
    <a href="https://support.google.com/analytics/answer/9539598?hl=en">Where to find Google Analytics Property ID</a>
    <br>
    <a href="https://www.semrush.com/blog/how-to-set-up-google-analytics/">How to set up GA4</a>
    <br>
    <a href="https://developers.google.com/analytics/devguides/reporting/data/v1/quickstart-client-libraries">How to get the api/credentials JSON file - step 1 here</a>
    <br>
    <a href="https://developers.google.com/analytics/devguides/reporting/data/v1/quickstart-client-libraries">How to get the service account email - step 2 here</a>
    <br>
    <br>
    {% endblock %}
